/*Measurement in px*/
body {
  background-color: #3E0707;
  font-family: arial;
  color: #E9E2D9;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
h3 {
  background-color: #130101;
  padding: 10px;
  border-radius: 5px;
  margin: 10% 10% 2% 10%;
}
.Todo-Headers, .css-inputLMs, .event-render {
  display: grid;
  grid-template-columns: 3fr 2.3fr 1.7fr 1.2fr;
  column-gap: 5px;
  white-space: nowrap;
  row-gap: 30px;
  align-items: center;
  margin: 0 10%;

}
h5 {
  margin: 0px;
}
.css-render, .event-render {
 padding: 10px;
 max-width: 100%;
 white-space: wrap;
}
.event-render {
  border-bottom: 1px solid #D29595;
  text-align: left;
  margin: 0 3%;
}
.Todo-Headers, .css-inputLMs {
  margin-bottom: 15px;
}
.Todo-Headers, .css-inputLMs, h3{
  text-align: center;
}
.render-body {
  text-align: center;
  background-color: #000001;
  padding: 5px;
  border-radius: 5px;
  margin: 10%;
}
input{
  height: 16px;
}
input, button, .css-clear{
  border: none;
  border-radius: 4px;
  padding: 2px;
  padding: 10px 10px;
}
button {
  color: white;
  background-color: #229C22;
  cursor: pointer;
  
}
.remove-btn {
  background-color: #F11D1D;
}

.css-event::placeholder, input {
  padding-left: 7px;
}
.css-clear {
  background-color: #AF0000;
  letter-spacing: 1px;
}
.css-author {
  padding-right: 15%;
  display: flex;
  align-items: center;
  justify-content: end;  
}